version: "3.8"

services:
  
  db:
    image: docker.io/library/mongo:4.4
    profiles: ["local-services"] # Label: Opsional, hanya untuk development lokal
    ports:
      - "27017:27017" # Untuk tes koneksi dari Mongo Compass
    volumes:
      - mongo-data:/data/db
    networks:
      - worker-net

  queue:
    image: docker.io/library/redis:alpine
    profiles: ["local-services"] # Label: Opsional, hanya untuk development lokal
    ports:
      - "6379:6379" # Untuk tes koneksi dari redis-cli
    networks:
      - worker-net

  worker:
    build:
      context: . # Asumsi Dockerfile ada di folder ini
    
    restart: always

    deploy:
      resources:
        limits:
          cpus: '0.90'
          memory: 800M

    environment:
      # Gunakan MONGO_URI dari .env. JIKA KOSONG (:-), gunakan 'db' lokal.
      - MONGO_URI=${MONGO_URI:-mongodb://db:27017/yayasan_veritas}
      
      # Gunakan REDIS_URI dari .env. JIKA KOSONG (:-), gunakan 'queue' lokal.
      - REDIS_URI=${REDIS_URI:-redis://queue:6379}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - STORAGE_PROVIDER=${STORAGE_PROVIDER}
      - R2_ENDPOINT=${R2_ENDPOINT}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_PUBLIC_URL=${R2_PUBLIC_URL}
      - R2_REGION=${R2_REGION}
      - GOMEMLIMIT=720MiB
      
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    networks:
      - worker-net

networks:
  worker-net:

volumes:
  mongo-data: